/* radio buttons */
@keyframes dot-anim {
  0% {
      top: -0.5vw;
  }
  50% {
      top: 1vw;
  }
  100% {
      top: -0.5vw;
  }
}
main, label, label:before, label:after {
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.option {
  margin-top: 3vh;
  display:inline-block;
  padding: 2.5vw;
  align-items: center;
  justify-content: center;
}
label {
  z-index: 3;
  width: 3.5vw;
  height: 2.5vw;
  border-radius: 50%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all .2s ease-in-out;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-duration: 1.6s;
  animation-name: dot-anim;
}
.radio:checked + label {
  animation-play-state: paused;
}
label:before {
  margin: auto;
  content: "";
  position: absolute;
  width: 3.5vw;
  height: 3.5vw;
  background: white;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.117647) 0 0 .8vw 0, rgba(0, 0, 0, 0.239216) 0 .8vw .8vw 0;
  transition: all .2s;
}
label:hover:before {
  box-shadow: rgba(0, 0, 0, 0.0784314) 0 0 1vw 0, rgba(0, 0, 0, 0.239216) 0 1vw 1vw 0;
}
label:after {
  content: "";
  width: 4.5vw;
  height: 4.5vw;
  background: rgba(255, 255, 255, .5);
  border-radius: 50%;
  transform: scale(0);
}
label .name {
  position: absolute;
  font-size: 2vw;
  height: 10vw;
  padding-right: 2px;
  white-space: nowrap;
}
.radio:checked + label:after {
  background: transparent;
  transition: all .5s;
  transform: scale(1,1);
}
#radio, label {
  background: #fff;
  animation-delay: 0s;
}
#radio, label:before {
  transform: scale(0);
}
#radio:checked, label:before {
  transform: scale(1);
  transition: all .4s;
}
[type="radio"] {
display: none;
}
.MC h1 {
  font-weight: 700;
  margin-bottom: 30px;
  font-size: 2.6vw;
  color: #000;
  background: #000;
  display: inline-block;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.MC {
  margin: auto;
  width: 100%;
}

.MC .squircle__input {
padding-bottom: 3vh;
}