@keyframes type {
	0% { width: 0px; }
	20% { width: 100%; }
	100% { width: 300px; }
}

@-webkit-keyframes type {
	0% { width: 0px; }
	20% { width: 100%; }
	100% { width: 300px; }
}

@keyframes type_two {
	0% { width: 0px; }
	20% { width: 0px; }
	40% { width: 100%; }
	100% { width: 300px; }
}

@-webkit-keyframes type_two {
	0% { width: 0px; }
	20% { width: 0px; }
	40% { width: 100%; }
	100% { width: 300px; }
}

@keyframes type_three {
	0% { width: 0px; }
	40% { width: 0px; }
	60% { width: 100%; }
	100% { width: 300px; }
}

@-webkit-keyframes type_three {
	0% { width: 0px; }
	40% { width: 0px; }
	60% { width: 100%; }
	100% { width: 300px; }
}

@keyframes type_four {
	0% { width: 0px; }
	60% { width: 0px; }
	80% { width: 300px; }
	100% { width: 300px; }
}

@-webkit-keyframes type_four {
	0% { width: 0px; }
	60% { width: 0px; }
	80% { width: 300px; }
	100% { width: 300px; }
}

body {
	background-color: #ffffff;
}

#computer {
	border-width: 0;
	top: 70px;
	width: 600px;
	margin: 0 auto;
	position: relative;

	> div {
		position: absolute;
	}

	#front {
		width: 100px;
		top: 54px;
		width: 300px;
		height: 300px;
		-webkit-transform: skew(-10deg, 10deg);
		transform: skew(-10deg, 10deg);
		background-color: #A39A9A;
	}

	#screen {
		top: 70px;
		left: 20px;
		width: 270px;
		height: 200px;
		border-radius: 3px;
		background-color: rgb(165, 164, 164);
		-webkit-transform: skew(-10deg,10deg);
		transform: skew(-10deg, 10deg)
	}

	#text {
		padding: 5px;
		font-size: 12pt;
		top: 80px;
		left: 40px;
		width: 270px;
		color: white;
		height: 65px;
		-webkit-transform: skew(-10deg,10deg);
		transform: skew(-10deg, 10deg);
		font-family: monospace;
	}

	#text div {
		width: 0px;
		overflow: hidden;
		max-height: 19px;
	}

	#text div:nth-child(1)
	{
		-webkit-animation: type 10s linear infinite;
		animation: type 10s linear infinite;
		overflow: hidden;
	}

	#text div:nth-child(2)
	{
		-webkit-animation: type_two 10s linear infinite;
		animation: type_two 10s linear infinite;
		overflow: hidden;
	}

	#text div:nth-child(3)
	{
		-webkit-animation: type_three 10s linear infinite;
		animation: type_three 10s linear infinite;
		overflow: hidden;
	}

	#text div:nth-child(4)
	{
		-webkit-animation: type_four 10s linear infinite;
		animation: type_four 10s linear infinite;
		overflow: hidden;
	}

	#side {
		height: 300px;
		width: 90px;
		background-color: #333;
		top: 54px;
		left: 300px;
		-webkit-transform: skew(-10deg, -30deg);
		transform: skew(-10deg, -30deg);
	}

	#top {
		background-color: #797979;
		width: 300px;
		height: 54px;
		left: 72px;
		-webkit-transform: skew(-60deg,10deg);
		transform: skew(-60deg,10deg);
	}

	#button {
		-webkit-transform: skew(-10deg,10deg);
		transform: skew(-10deg, 10deg);
		background-color: #242F45;
		height: 20px;
		width: 40px;
		top: 260px;
	}
}